<h1>Admin#index Test Menu</h1>
<div id="MenuTest">
  <%
     def dep_search(menu_node, rec_dep)
     h = menu_node.get_hash_node
  %>
  <%
    sum = ""
    rec_dep.times{
      sum += "--"
    }
  %>
  <%= sum %>
  <%= link_to h[:name], h[:url]%>
  <%= rec_dep %>
  <%  children = menu_node.get_children %>
  <br />
  <%  rec_dep += 1
      children.each{|child|
        dep_search(child, rec_dep)
      }
      end
     # добавление потомка к потомку
     #children = @out_mm.get_children
     #children[0].add_child= MenuNode.new

      dep_search(@out_mm, 0)
      @out_mm.get_children
  %>
</div>