<ul class="nav nav-list">
<% RubalCore::RubalMainMenu.instance.children_arr.each do |node| %>
    <% if_allowed_for_user(node.hash_node[:url]) do %>
      <li><%= link_to_unless_current node.hash_node[:name], node.hash_node[:url] %></li>
      <% unless node.children_arr.blank? %>
           <% node.children_arr.each do |n_ch| %>
             <% if_allowed_for_user(node.hash_node[:url]) do %>
               <li><%= link_to_unless_current "<i class='icon-chevron-right'></i>".html_safe + n_ch.hash_node[:name], n_ch.hash_node[:url] %></li>
             <% end %>
           <% end %>
      <% end %>
    <li class="divider"></li>
   <% end %>
<% end %>
</ul>

