/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

div.plus-button-news {
    margin-top: 20px;
    text-align: right;
}

table.table-news {
    width: 100%;
}

div.news-datetime-pick select {
    width: auto;
}

div.news-index-thread {
    border-bottom: 1px solid #BBB;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

div.news-index {
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
div.skip-last-bottom-border :last-of-type {
    border-bottom: none;
}
