<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Rubal CMS</title>

        <link href="admin-panel.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
            <div id="header-top">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contacts</a>
            </div>
            <div id="header-bottom">
                Some text
            </div>
        </div>
        <div id="main" >

            <div class="window">
                <div class="title">
                    Title 1
                </div>
                <div class="body">
                    <div class="block">
                        <div class="title">
                            BlockName #1
                        </div>
                        <div class="body">
                            <input type="text"><br/>
                            Some text about it
                        </div>
                    </div>

                    <div class="block">
                        <div class="title">
                            BlockName #2
                        </div>
                        <div class="body">
                            <input type="text"><br/>
                            Some text about it
                        </div>
                    </div>

                    <div class="block">
                        <div class="title">
                            BlockName #3
                        </div>
                        <div class="body">
                            <input type="text"><br/>
                            Some text about it
                        </div>
                    </div>

                    <div class="block">
                        <div class="title">
                            BlockName #4
                        </div>
                        <div class="body">
                            <textarea>Font of text - Calibry, Coulour - #595959</textarea><br/>
                            Some text about it
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div id="footer">
        </div>
    </body>
</html>
