<!DOCTYPE html>
<html>
<head>
  <title>RubalCatalogPlugin</title>
  <%= stylesheet_link_tag    "rubal_catalog_plugin/application", :media => "all" %>
  <%= javascript_include_tag "rubal_catalog_plugin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
